{% extends 'base.html.twig' %}

{% block content %}


<div class="row">

    {% for conference in conferences %}

    <div class="col-lg-6 col-md-12">
        <div class="conference conference-default conference-card">
            <div class="conference-heading">
                <img src="{{ asset('/images/' ~ conference.image) }}">
            </div>
            <div class="conference-body text-center">
                <h4 class="conference-header">
                    <a href="{{ conference_url(conference) }}">{{ conference.name }}</a>
                </h4>
                <span class="description">{{ conference.city }}, Aug 2015</span>
            </div>
        </div>
    </div>

    {% endfor %}

</div>

{% endblock %}

{% block tasks_menu %}{% endblock %}