{% extends 'SonataAdminBundle:CRUD:base_list_flat_inner_row.html.twig' %}

{% block row %}

<div class="media-body" xmlns="http://www.w3.org/1999/html">


        <div class="media">
            <span class="glyphicon glyphicon-globe"></span>
                {{ object|render_list_element(admin.list['name']) }}

            <div class="media-body">
                <small class="text-muted">
                    <br/>
                    <span class="glyphicon glyphicon-list-alt"></span> {{ object.description }}
                </small>
            </div>
        </div>

</div>

{% endblock %}
