{% extends 'base.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">

            <div class="table-responsive card-action">

                <table class="table table-bordered table-hover">

                    <tr class="success">
                        <th class="text-center">Review</th>
                        <th class="text-center">Date</th>
                        <th class="text-center">State</th>
                        <th class="text-center">Comment</th>
                    </tr>

                    <tr class="text-center">
                        {% for comentarios in comments %}
                            <td class="col-md-2">......</td>
                            <td class="col-md-2">{{ comentarios.createAt|date("d/m/y")}}</td>
                            {% if comentarios.state== 'rejected' %}
                                <td class="col-md-1"><span class="label label-danger"> {{ comentarios.state }}</span></td>
                            {% else %}
                                <td class="col-md-1"><span class="label label-success"> {{ comentarios.state }}</span></td>
                            {% endif %}

                            <td class="col-md-6"> {{ comentarios.comment  }}</td>

                        {% endfor %}
                    </tr>

                </table>

            </div>
        </div>
    </div>

{% endblock %}
