{% extends 'base.html.twig' %}

{% block body %}

    <ul>
            <li>{{ conference.name }}</li>
            <li>{{ conference.description }}</li>

    </ul>

    <ul>
        <a href="{{ path('inscription', {'slug':conference.slug}) }}">Apuntarse</a>

    </ul>

{% endblock %}