{% extends 'base.html.twig' %}

{% block body %}

    {% if usuario %}

        <p>  El usuario {{ usuario.username }} esta conectado a al sistema </p>

    {% endif %}


    <ul>
        <a href="{{ url('listArticles') }}">Listar Artículo</a>

    </ul>

   <ul>
       <a href="{{ url('listConferences') }}">Listar Conferencias</a>

   </ul>


{% endblock %}
