{% extends 'base.html.twig' %}

{% block body %}

    <ul>
    {% for conference in conferences %}
        <li>{{ conference.name }}</li>
        

    {% else %}
        No hay datos
    {% endfor %}
            </ul>


{% endblock %}
