{% extends 'base.html.twig' %}


{% block body %}

    <ul>
        <li>{{ conference.name }}</li>
        <li>{{ conference.description }}</li>
        <li>{{ user.username }}</li>
        <li>{{ user.email }}</li>

    </ul>



{% endblock %}