{% extends 'base.html.twig' %}

{% block body %}

    <ul>
        {% for conference in conferences %}
            <li>{{ conference.name }} ----->  <a href="{{ path('showConference', {'slug':conference.slug}) }}" >Show more details </a></li>
        {% else %}
            No data
        {% endfor %}
    </ul>

{% endblock %}
