{% extends 'base.html.twig' %}

{% block mainContent %}


    {% if app.user is null %}
        <div class="alert alert-danger text-center">
                    <strong>You must be registered</strong>
                </div>
        {% else %}
            {% if inscription!=null %}
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">

                        <tr class="success">
                            <th>Id</th>
                            <th>Name</th>
                            <th>Date Inscription</th>
                            <th>Send Article</th>

                        </tr>
                            {% for aux in inscription %}
                            <tr>
                                <td>{{ aux.id }}</td>
                                <td>{{ aux.conference }}</td>
                                <td>{{ aux.createdAt|date("d/m/y") }}</td>
                            </tr>
                             {% endfor %}
                    </table>
                </div>
                {% else %}

                    <div class="alert alert-danger text-center">
                        <strong>There aren't inscriptions</strong>
                    </div>

            {% endif %}
    {% endif %}

{% endblock %}