{% extends 'base.html.twig' %}

{% block mainContent %}


    {% if app.user is null %}
        <div class="alert alert-danger text-center">
            <strong>You must be registered</strong>
        </div>


        {% else %}
            {% if inscription!=null %}
                <div class="row">
                <div class="col-md-12 text-center">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">

                            <tr class="success">
                                <th class="text-center">Name</th>
                                <th class="text-center">Date Inscription</th>
                                <th class="text-center">Go to Conference</th>

                            </tr>
                                {% for article in inscription %}
                                <tr>
                                    <td>{{ article.conference }}</td>
                                    <td>{{ article.createdAt|date("d/m/y") }}</td>
                                    <td><a class="btn btn-default glyphicon glyphicon-eye-open" href="{{ path('conference',
                                        {'slug': article.conference.slug }) }}" role="button"></a></td>
                                </tr>
                                 {% endfor %}
                        </table>
                    </div>
                    {% else %}

                        <div class="alert alert-danger text-center">
                            <strong>There aren't inscriptions</strong>
                        </div>
                    </div>
                </div>
            {% endif %}
    {% endif %}

{% endblock %}
