{% extends 'base.html.twig' %}

{% block mainContent %}


    {% if app.user is null %}
        <div class="alert alert-danger text-center">
            <strong>You must be registered</strong>
        </div>


        {% else %}
            {% if inscription!=null %}
                <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">

                            <tr class="success">
                                <th>Id</th>
                                <th>Name</th>
                                <th>Date Inscription</th>
                                <th>Send Article</th>

                            </tr>
                                {% for article in inscription %}
                                <tr>
                                    <td>{{ article.id }}</td>
                                    <td>{{ article.conference }}</td>
                                    <td>{{ article.createdAt|date("d/m/y") }}</td>
                                    {#<td><a class="btn btn-default" href="{{ path('conference_upload_article',#}
                                        {#{'slug': inscription.conference.slug }) }}" role="button">Send new article</a></td>#}
                                </tr>
                                 {% endfor %}
                        </table>
                    </div>
                    {% else %}

                        <div class="alert alert-danger text-center">
                            <strong>There aren't inscriptions</strong>
                        </div>
                    </div>
                </div>
            {% endif %}
    {% endif %}

{% endblock %}