{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        {% if inscription!=null %}
            <div class="table-responsive">
                <table class="table table-bordered table-hover">

                    <tr class="success">
                        <th>Id</th>
                        <th>Name</th>
                        <th>Date Inscription</th>
                        <th>Send Article</th>

                    </tr>
                        {% for aux in inscription %}
                        <tr>
                            <td>{{ aux.id }}</td>
                            <td>{{ aux.conference }}</td>
                            <td>{{ aux.createdAt|date("d/m/y") }}</td>
                        </tr>
                         {% endfor %}
                </table>
            </div>

        {% else %}
            <div class="row">
                <div class="col-md-4">
                    {% for flashMessage in app.session.flashbag.get('alert') %}
                        <div class="flash-notice alert-danger alert text-center">
                            <strong>{{ flashMessage }}</strong>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}