{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <strong>{{ 'Image' |trans }}</strong>
    </td>
    <td>
        <div>

            {% if object.image != null %}
                <img height="100" width="180"   src="{{ asset('/images/' ~ object.image) }}">
            {% else %}
                <span>No picture</span>
            {% endif %}
        </div>
{% endblock %}