{% extends 'base.html.twig' %}

{% block mainContent %}

    <form method="POST" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" value="Create"
               class="btn btn-default pull-right" />
    </form>

{% endblock %}